  <!-- Bottom Nav -->
  <footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark">
      <small class="text-muted footer">&copy; Copyright <%= (new Date()).getFullYear() %>. All Rights Reserved.</small>
    </nav>
  </footer>
