<%- include partials/header.ejs %> <%- include partials/main_nav.ejs %>

<!-- Main Content -->
<main class="container-fluid">
  <!--Set background, uses css for transparent box-->
  <div
    style="background: url(/assests/images/bg_03.jpg)"
    class="page-holder bg-cover text-shadow"
  >
    <div class="bg-transparent-black">
      <div class="row mb-4">
        <header class="col-xl-12">
          <h2>Projects</h2>
        </header>
      </div>
      <div class="row">
        <div class="media bg-transparent-black border-white">
          <button
            onclick="sweetalertclick1();"
            type="button"
            class="icon-squared icon-media"
          >
            <img
              src="/assests/images/java_app_saturate.jpg"
              class="img-thumbnail icon-squared icon-media"
            />
          </button>
          <div class="media-body">
            <h3>Players and Games System</h3>
            <p>
              This is a GUI Java application that allows the players to submit
              information about themselves and the games that they are playing
              on-line. The information will be stored in a database.
            </p>
          </div>
        </div>
        <div class="media bg-transparent-black border-white">
          <button
            onclick="sweetalertclick2();"
            type="button"
            class="icon-squared icon-media"
          >
            <img
              src="/assests/images/AspNetCore_app_saturate.jpg"
              class="img-thumbnail icon-squared icon-media"
            />
          </button>
          <div class="media-body">
            <h3>Aws Cloud Web App</h3>
            <p>
              A start-up wants to compete with Netflix. It allows registered
              users to upload/download movie, write comments, rate the movie,
              etc. Users can view all comments and ratings.
            </p>
          </div>
        </div>
        <div class="media bg-transparent-black border-white">
          <button
            onclick="sweetalertclick3();"
            type="button"
            class="icon-squared icon-media"
          >
            <img
              src="/assests/images/android_app_saturate.jpg"
              class="img-thumbnail icon-squared icon-media"
            />
          </button>

          <div class="media-body">
            <h3>Interactive Mobile Application</h3>
            <p>
              Android UI helps its clients to find the best option for a home.
              Display a user-friendly screen with available homes whenever the
              user select a home type from the menu.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
<script>
  function sweetalertclick1() {
    Swal.fire({
      title: "Game Player Information",
      text: "The App allows the players to submit information about themselves and the games that they are playin on-line. It was created using Eclipse. Tools use JavaFX components, JDBC connectivity and SQLite datase.",
      imageUrl: "/assests/images/java_app.jpg",
      imageWidth: 443,
      imageHeight: 290,
      backdrop: `
    rgba(0,0,123,0.4)
    url("/assests/images/nyan-dog.gif")
    left top
    no-repeat
  `,
    });
  }
  function sweetalertclick2() {
    Swal.fire({
      title: "Netflix Imitator",
      text: "The Web application uses ASP.NET and hosts in AWS Elastic Beanstalk. It was created using Microsoft C#. Tools use ASP.NET Core, AWS S3, DyanomoDB, System Manager, RDS and Microsoft SQL.",
      imageUrl: "/assests/images/AspNetCore_app.jpg",
      imageWidth: 551,
      imageHeight: 300,
      backdrop: `
    rgba(0,0,123,0.4)
    url("/assests/images/nyan-dog.gif")
    left top
    no-repeat
  `,
    });
  }
  function sweetalertclick3() {
    Swal.fire({
      title: "LeaseOrRentHome Inc.",
      text: "The App helps its clients to find the best option for a home. It was created using Andriod Studio. Tools use resources, fragments, Room persistence library, MVVM architecture, and Map Location Service.",
      imageUrl: "/assests/images/android_app.jpg",
      imageWidth: 287,
      imageHeight: 364,
      backdrop: `
    rgba(0,0,123,0.4)
    url("/assests/images/nyan-dog.gif")
    left top
    no-repeat
  `,
    });
  }
</script>
<%- include partials/bottom_nav.ejs %> <%- include partials/footer.ejs %>
